p{
    background-color: rgb(3, 44, 3);
    color:lightgoldenrodyellow;
    font:italic 20px monospace ;
    border-block-color: black;
}
header{
    position: relative;
    background-color: darkred;
    color: lightslategrey;
    font-family: fantasy;
    font-size: 10em;
    
}
img{
    border:15px double darkslategray;
    opacity:50%;
}
img:hover{
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}


li{
    font:italic 40px Comic ;
}
body{
    text-align: center;
}
.top{
    font-size: 5em;
}
.lower{
    font-size:3em;
}

